<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seeker.mapper.UserMapper">
	<resultMap id="User" type="User">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="USERNAME" jdbcType="VARCHAR" property="username" />
		<result column="PASSWORD" jdbcType="VARCHAR" property="password" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="TEL" jdbcType="VARCHAR" property="tel" />
		<result column="EMAIL" jdbcType="VARCHAR" property="email" />
		<result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
		<result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
		<result column="STATUS" jdbcType="CHAR" property="status" />
		<result column="REMARK" jdbcType="VARCHAR" property="remark" />
		<result column="groupId" jdbcType="VARCHAR" property="groupId" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, USERNAME, NAME, TEL, EMAIL, CREATE_TIME, CREATE_BY, STATUS, REMARK
	</sql>
	<!-- <sql id="Base_Column_List"> -->
	<!-- ID, USERNAME, PASSWORD, NAME, TEL, EMAIL, CREATE_TIME, CREATE_BY, STATUS, REMARK -->
	<!-- </sql> -->
	<sql id="TABLE_NAME">SYS_USER</sql>
	<sql id="BaseCondition">
		<if test="name != null and name != ''"> and name like '%${name}%' </if>
		<if test="username != null and username != ''"> and username = #{username}</if>
		<if test="status != null and status != ''"> and status = #{status}</if>
		<if test="flag != null and flag == 'group' and groupId !=null and groupId !='' ">
			and id not in (select userid from sys_group_user where groupId=#{groupId} )
		</if>
	</sql>

	<select id="getList" parameterType="User" resultMap="User">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="TABLE_NAME" />
		<where>
			1=1
			<include refid="BaseCondition" />
		</where>
	</select>
	<select id="getCount" parameterType="User" resultType="int">
		select
		count(1)
		from
		<include refid="TABLE_NAME" />
		<where>
			1=1
			<include refid="BaseCondition" />
		</where>
	</select>


	<sql id="UserGroupCondition">
		<if test="name != null and name != ''"> and name t.like '%${name}%' </if>
		<if test="groupId != null and groupId != ''"> and t1.groupId = #{groupId}  </if>
		<if test="username != null and username != ''"> and t.username = #{username}</if>
		<if test="status != null and status != ''"> and t.status = #{status}</if>
	</sql>
	<sql id="UserGroup_Column_List">
		t.ID, t.USERNAME, t.NAME, t.TEL, t.EMAIL, t.CREATE_TIME, t.CREATE_BY, t.STATUS, t.REMARK
	</sql>

	<select id="getUserGroupList" parameterType="User" resultMap="User">
		select
		<include refid="UserGroup_Column_List" />
		from
		<include refid="TABLE_NAME" />
		t
		left join sys_group_user t1 on t.id=t1.userid
		<where>
			1=1
			<include refid="UserGroupCondition" />
		</where>
	</select>
	<select id="getUserGroupCount" parameterType="User" resultType="int">
		select
		count(1)
		from
		<include refid="TABLE_NAME" />
		t
		left join SYS_GROUP_USER t1 on t.id=t1.userid
		<where>
			1=1
			<include refid="UserGroupCondition" />
		</where>
	</select>


	<select id="getDetailByUsername" parameterType="java.lang.String" resultMap="User">
		select
		<include refid="Base_Column_List" />
		,password
		from
		<include refid="TABLE_NAME" />
		where username = #{username,jdbcType=VARCHAR}
	</select>


	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="User">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="TABLE_NAME" />
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		<include refid="TABLE_NAME" />
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="User">
		insert into
		<include refid="TABLE_NAME" />
		(ID, USERNAME, PASSWORD,
		NAME, TEL, EMAIL, CREATE_TIME,
		CREATE_BY, STATUS, REMARK
		)
		values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR},
		#{createBy,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="User">
		insert into
		<include refid="TABLE_NAME" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="username != null">
				USERNAME,
			</if>
			<if test="password != null">
				PASSWORD,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="tel != null">
				TEL,
			</if>
			<if test="email != null">
				EMAIL,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="createBy != null">
				CREATE_BY,
			</if>
			<if test="status != null">
				STATUS,
			</if>
			<if test="remark != null">
				REMARK,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				#{tel,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=CHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="User">
		update
		<include refid="TABLE_NAME" />
		<set>
			<if test="username != null">
				USERNAME = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				PASSWORD = #{password,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				TEL = #{tel,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				EMAIL = #{email,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=CHAR},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="User">
		update
		<include refid="TABLE_NAME" />
		set USERNAME = #{username,jdbcType=VARCHAR},
		PASSWORD = #{password,jdbcType=VARCHAR},
		NAME = #{name,jdbcType=VARCHAR},
		TEL = #{tel,jdbcType=VARCHAR},
		EMAIL = #{email,jdbcType=VARCHAR},
		CREATE_TIME = #{createTime,jdbcType=VARCHAR},
		CREATE_BY = #{createBy,jdbcType=VARCHAR},
		STATUS = #{status,jdbcType=CHAR},
		REMARK = #{remark,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
</mapper>