<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seeker.mapper.GroupMapper">
	<resultMap id="Group" type="Group">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
		<result column="REMARK" jdbcType="VARCHAR" property="remark" />
		<result column="STATUS" jdbcType="CHAR" property="status" />
		<result column="userid" jdbcType="CHAR" property="userId" />
		<result column="flag" jdbcType="CHAR" property="flag" />
	</resultMap>
	<!--
	eviction是缓存的淘汰算法，可选值有"LRU"、"FIFO"、"SOFT"、"WEAK"，缺省值是LRU

	LRU：最近最少使用，移除最长时间不被使用的对象，默认策略

	FIFO：先进先出，按对象进入缓存的顺序来移除

	SOFT：软引用，移除基于垃圾回收器状态和软引用规则的对象

	WEAK：弱引用，更积极地移除基于垃圾收集器状态和弱引用规则的对象
	-->

	<cache readOnly="true" size="500" flushInterval="120000" eviction="LRU" />



	<sql id="Base_Column_List">
		t.ID, t.GROUP_NAME, t.REMARK, t.STATUS
	</sql>
	<sql id="TABLE_NAME">sys_group</sql>
	<sql id="BaseCondition">
		<if test="flag != null and flag == 'check'">
			<if test="id != null and id != '' ">
				and id != #{id}
			</if>
			<if test="groupName != null and groupName != '' ">
				and t.group_name = #{groupName}
			</if>
		</if>
		<if test="flag != null and flag == 'list'">
			<if test="groupName != null and groupName != ''"> and t.group_name like '%${groupName}%' </if>
		</if>
	</sql>
	<select id="getList" parameterType="Group" resultMap="Group"  useCache="true" flushCache="false" >
		select
		<include refid="Base_Column_List" />
		from
		<include refid="TABLE_NAME" />
		t
		<where>
			1=1
			<include refid="BaseCondition" />
		</where>
	</select>
	<select id="getCount" parameterType="Group" resultType="int" useCache="true" flushCache="false">
		select
		count(1)
		from
		<include refid="TABLE_NAME" />
		t
		<where>
			1=1
			<include refid="BaseCondition" />
		</where>
	</select>


	<sql id="getLoginGroupUserDetailCondition">
		<if test="userId != null and userId != ''"> and userId = #{userId} </if>
		<if test="status != null and status != ''"> and t.status = #{status} </if>
	</sql>
	<select id="getLoginGroupUserDetail" parameterType="Group" resultMap="Group" useCache="true" flushCache="false">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="TABLE_NAME" />
		t
		left join SYS_GROUP_USER t1
		on t1.groupId=t.id
		<where>
			1=1
			<include refid="getLoginGroupUserDetailCondition" />
		</where>
	</select>



	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="Group" useCache="true" flushCache="false">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="TABLE_NAME" />
		t
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String" flushCache="true">
		delete from
		<include refid="TABLE_NAME" />
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="Group" flushCache="true">
		insert into
		<include refid="TABLE_NAME" />
		(ID, GROUP_NAME, REMARK,
		STATUS)
		values (#{id,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
		#{status,jdbcType=CHAR})
	</insert>
	<insert id="insertSelective" parameterType="Group"  flushCache="true">
		insert into
		<include refid="TABLE_NAME" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="groupName != null">
				GROUP_NAME,
			</if>
			<if test="remark != null">
				REMARK,
			</if>
			<if test="status != null">
				STATUS,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="groupName != null">
				#{groupName,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="Group"  flushCache="true">
		update
		<include refid="TABLE_NAME" />
		<set>
			<if test="groupName != null">
				GROUP_NAME = #{groupName,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=CHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="Group" flushCache="true">
		update
		<include refid="TABLE_NAME" />
		set GROUP_NAME = #{groupName,jdbcType=VARCHAR},
		REMARK = #{remark,jdbcType=VARCHAR},
		STATUS = #{status,jdbcType=CHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
</mapper>