<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seeker.mapper.GroupMenuMapper">
	<resultMap id="GroupMenu" type="GroupMenu">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="MENUID" jdbcType="VARCHAR" property="menuid" />
		<result column="GROUPID" jdbcType="VARCHAR" property="groupid" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, MENUID, GROUPID
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="GroupMenu">
		select
		<include refid="Base_Column_List" />
		from SYS_GROUP_MENU
		where ID = #{id,jdbcType=VARCHAR}
	</select>


	<delete id="deleteByGroupId" parameterType="java.lang.String">
		delete from SYS_GROUP_MENU
		where groupid = #{groupId,jdbcType=VARCHAR}
	</delete>





	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from SYS_GROUP_MENU
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="GroupMenu">
		insert into SYS_GROUP_MENU (ID, MENUID, GROUPID
		)
		values (#{id,jdbcType=VARCHAR}, #{menuid,jdbcType=VARCHAR}, #{groupid,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="GroupMenu">
		insert into SYS_GROUP_MENU
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="menuid != null">
				MENUID,
			</if>
			<if test="groupid != null">
				GROUPID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="menuid != null">
				#{menuid,jdbcType=VARCHAR},
			</if>
			<if test="groupid != null">
				#{groupid,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="GroupMenu">
		update SYS_GROUP_MENU
		<set>
			<if test="menuid != null">
				MENUID = #{menuid,jdbcType=VARCHAR},
			</if>
			<if test="groupid != null">
				GROUPID = #{groupid,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="GroupMenu">
		update SYS_GROUP_MENU
		set MENUID = #{menuid,jdbcType=VARCHAR},
		GROUPID = #{groupid,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
</mapper>