<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seeker.mapper.GroupUserMapper">
	<resultMap id="GroupUser" type="GroupUser">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="USERID" jdbcType="VARCHAR" property="userid" />
		<result column="GROUPID" jdbcType="VARCHAR" property="groupid" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, USERID, GROUPID
	</sql>
	<sql id="TABLE_NAME">SYS_GROUP_USER</sql>


	<delete id="delete" parameterType="GroupUser" flushCache="true">
		delete
		from
		<include refid="TABLE_NAME" />
		where
		1=1
		<if test="userid != null and userid != '' "> and userid = #{userid} </if>
		<if test="groupid != null and groupid != '' "> and groupid = #{groupid}</if>
	</delete>


	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="GroupUser" flushCache="false" useCache="true">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="TABLE_NAME" />
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String" flushCache="true">
		delete from
		<include refid="TABLE_NAME" />
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="GroupUser" flushCache="true">
		insert into
		<include refid="TABLE_NAME" />
		(ID, USERID, GROUPID
		)
		values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{groupid,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="GroupUser" flushCache="true">
		insert into
		<include refid="TABLE_NAME" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="userid != null">
				USERID,
			</if>
			<if test="groupid != null">
				GROUPID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="userid != null">
				#{userid,jdbcType=VARCHAR},
			</if>
			<if test="groupid != null">
				#{groupid,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="GroupUser" flushCache="true">
		update
		<include refid="TABLE_NAME" />
		<set>
			<if test="userid != null">
				USERID = #{userid,jdbcType=VARCHAR},
			</if>
			<if test="groupid != null">
				GROUPID = #{groupid,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="GroupUser" flushCache="true">
		update
		<include refid="TABLE_NAME" />
		set USERID = #{userid,jdbcType=VARCHAR},
		GROUPID = #{groupid,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
</mapper>